---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Brian" description="Personal site">
  <h1>Brian.</h1>
  <p> I am an undergraduate student at Princeton studying Financial Engineering. 
  I am generally interested in robotic learning, specifically with regards to how 
  </p>
  <p>
  cognitive science approaches and world modelling can be applied. 
  Previously, I also researched human motor adaptation behaviour.
  </p>
</Layout>
